<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../styles/pop-ups/popUp.css"/>
</head>
<body>
    <button class="button open-button">Request Book</button>

    <dialog class="modal" id="modal">
        <h1>Book Title</h1>
        <button class="button close-button">Cancel</button>
        <form class="form" method="dialog">
            <label>Your name <input type="text" /></label>
            <label>Your email <input type="email" /></label>
            <button class="button" type="submit">Submit Exchange Request</button>
        </form>

        <script src="../../scripts/pop-ups/popUp.js"></script>
    </dialog>
</body>
</html>
