.search-bar {
    display: flex;
    align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
}

.card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    /*width: 200px;*/
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.icon-container {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.icon-container img {
    width: 100%;
    height: auto;
    margin: -10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card .card-body {
    padding: 5% 2% 2%;
}

.card .card-text {
    margin: 0;
}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    font-weight: 700;
    font-size: 18px;
    color: #333;
}

.card p {
    color: #777;
}

#profileDropdown .icon-container {
    width: 30px;
    height: 20px;
    margin: 0;
}

#profileDropdown .icon-container img {
    width: 100%;
    height: 100%;
}
