.modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    max-width: 80%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1001;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#customPopup {
    display: none;
}

#customPopup1 {
    display: none;
}

h2 {
    text-align: left;
    margin-bottom: 30px;
    font-weight: 900;
}
