<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../../styles/search/search.css">
    <link rel="stylesheet" type="text/css" href="../../styles/listing/exchanges.css">


</head>
<body>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <div class="navbar-title">
                <img class="navbar-logo" src="../../assets/favicon.png"></img>
                <a class="navbar-brand">Book Barter</a>
            </div>

            <form class="d-flex search-bar" role="search" action="../../templates/search/search.html">
                <input class="form-control me-3" type="text" placeholder="Search" aria-label="Search" name="query">
                <button type="submit" class="btn btn-primary" id="searchButton">Search</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href='../../index.html'">Home</button>
                <button type="button" class="btn btn-primary" id="logoutButton" onclick="logout()">Logout</button>
                
            </form>
        </div>  
    </nav>

    <div class="row mt-4">
        <div class="col">
            <div class="d-flex-6 flex-row justify-content-left">
                <h2 class="card-title list-title mb-5">My Exchange History</h2>
            </div>
        </div>
    </div>

    <div id="requests-heading" class="mx-auto text-center mb-4">
        <h4 class="mb-4">Requests</h4>
    </div>
    <div id="admin-request-details" class="mx-4">
        <table class="table table-striped table-bordered mb-5">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Book Name</th>
                    <th>Borrower Name</th>
                    <th>Lender Name </th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="admin-request-details-body"></tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../scripts/listing/exchanges.js"></script>
</body>
</html>
