.navbar {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #333;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #555;
}

.actions-container {
    padding: 20px;
}

.action-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}


.action-card-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


