/*
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.card-title {
    color: #333;
}

.custom-dropdown {
    margin-bottom: 15px;
}
*/

/* Custom styles for Book Barter */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: #f7f7f7; 
    color: #333; 
}

.btn-primary {
    background-color: #0056b3;
    border: none; 
    padding: 10px 10px; 
    margin-top: 10px;
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; 
}

.btn-primary:hover {
    background-color: #003d82; 
}

.container {
    background-color: white;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 25px; 
    margin-top: 30px; 
}

.card {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    border: none; 
    margin-top: 15px;

}

.card-title {
    color: #0056b3; 
    margin-bottom: 20px;
}

.custom-dropdown {
    border-radius: 5px; 
    border: 1px solid #ced4da;
    padding: 10px;
    appearance: none;
    -webkit-appearance: none; 
    background-color: #fff; 
    transition: border-color 0.3s ease;
}

.custom-dropdown:focus {
    border-color: #0056b3; 
    outline: none; 
}


.row.equal-height {
    
    flex-wrap: wrap;
    align-items: stretch; 
}


#user-details .card, #create-listing .card {
    background-color: #e9ecef;
    margin-bottom: 10px;
    flex-direction: column; 
}

#user-details .card-body, #create-listing .card-body {
    flex-direction: column;
    justify-content: center; 
}

#user-details .card-body > *, #create-listing .card-body > * {
    margin-top: 0;
}

#customPopup {
    display: none; 
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffc107;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#errorMessages {
    color: #721c24;
}