<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../../styles/listing/userlisting.css">
    <link rel="stylesheet" type="text/css" href="../../styles/search/search.css">

</head>
<body>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <div class="navbar-title">
                <img class="navbar-logo" src="../../assets/favicon.png"></img>
                <a class="navbar-brand">Book Barter</a>
            </div>

            <form class="d-flex search-bar" role="search" action="../../templates/search/search.html">
                <input class="form-control me-3" type="text" placeholder="Search" aria-label="Search" name="query">
                <button type="submit" class="btn btn-primary" id="searchButton">Search</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href='../../index.html'">Home</button>
                <button type="button" class="btn btn-primary" id="logoutButton" onclick="logout()">Logout</button>
                <div class="btn-group" id="profileButton">
                    <button type="button" class="btn btn-primary dropdown-toggle" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="icon-container">
                            <img src="../../assets/user.svg" alt="Profile Icon" class="profile-icon">
                        </div>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="../update/update.html">Update Profile</a></li>
                        <li><a class="dropdown-item" onclick="deleteProfile()">Delete Profile</a></li>
                        <li><a class="dropdown-item" onclick="window.location.href='../listings/createlisting.html'">Create Listing</a></li>
                    </ul>
                </div>
            </form>
        </div>  
    </nav>
    <div class="row mt-5">
        <div class="col">
            <div class="d-flex-6 flex-row justify-content-left">
                <h2 class="card-title list-title">Admin dashboard</h2>
            </div>
        </div>
    </div>
    <div id="admin-details">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Created On</th>
                    <th>Last Updated On</th>
                    <th>User ID</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Is Auth</th>
                    <th>Is Admin</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="admin-details-body"></tbody>
        </table>
    </div>
    <div id="admin-request-details">

        <!-- Request details table goes here-->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../scripts/login/admin.js"></script>
</body>
</html>
