@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', serif;
}

button {
    padding: 8px 16px;
    margin-right: 10px;
}

.btn {
    background-color: #3B6562 !important;
    border: #3B6562 !important;
    color: white !important;
}

.btn:hover {
    background-color: #5F8A75 !important;
    border: #5F8A75 !important;
}

.bg-light {
    background-color: #E8E6E0 !important;
}

.navbar-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-logo {
    width: 15%;
}

.navbar-brand {
    width: 85%;
}

.pagination {
    --bs-pagination-active-bg: #3B6562; 
    --bs-pagination-active-border-color: #3B6562;
    --bs-pagination-color: #3B6562;
    --bs-pagination-focus-color: #3B6562;
    --bs-pagination-hover-color: #3B6562;
}

.actions-container {
    padding: 20px;
}

.action-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}


.action-card-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
