body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
.sign-in {
    width: 50%;
    padding: 40px;
    background-color: #fff;
}

.logo {
    width: 50%;
    padding: 40px;
    background-color: #E8E6E0;
}

.logo img {
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 900;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: 800;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #0056b3;
}

.password-input {
    position: relative;
}

.password-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-input .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.password-input .toggle-password .eye-icon,
.password-input .toggle-password .eye-slash-icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.password-input .toggle-password .eye-slash-icon {
    display: none;
}

.password-input .toggle-password.active .eye-icon {
    display: none;
}

.password-input .toggle-password.active .eye-slash-icon {
    display: block;
}
